@font-face {
    font-family: 'Dokrip';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Dokrip.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    padding: 0;
    margin: 0;
    /* background-color: black; */
    height: 100%;
    width: 100%;
    overflow: hidden;
    touch-action: none; 
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
    background-repeat: no-repeat;
    background-size : cover;
    overflow: hidden;
    touch-action: none; 

}
.birthday {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;

}
.bd__title, .bd__description{
    text-align: center;
    font-family: 'Dokrip';
    /* background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
    -webkit-background-clip: text; */
    /* color: transparent; */
    color: black;
    font-weight: 900;
    font-size: 1.6rem;

}

.bd__description {
    font-size: 2rem;
}
.bd__img {
    object-fit: contain;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.bd__img > img {
    width: 100%;
    height: 100%;
}

#drawing_canvas {
    position: absolute;
    margin: auto;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}